{% extends 'Main.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About myself</title>
</head>


{% block content %}

<body>
<style>
    h2 {color : white;
    padding: 5px 5px 5px 5px;
    }
    body {
    background-image:
    url("https://i.pinimg.com/originals/67/af/07/67af075af5156f5a1b059d5564d9843f.jpg");
    background-repeat: no-repeat;
    }
</style>
<br><br>
<br><br>
<br><br>

<link rel="stylesheet" href="{% static 'Main_style.css' %}">

<h2 align="center">You don't really need to know about me</h2>
<br>
<h2 align="center">I am just another boring guy)) </h2>
<br>
<img align="center" src="https://sun9-83.userapi.com/impg/c858016/v858016050/13467d/2o2vw_VsVGY.jpg?size=960x960&quality=96&sign=0f6a8b551a20ea3572c522ca269f3371&type=album"
     alt="me" width="500" height="500">
</body>

{% endblock %}

</html>